@import './variables.css';
@import './buttons.css';
@import './pagination.css';
@import './loader.css';

.App {
  text-align: center;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 50px;
  margin: calc(10px + 3vmin);
}

.title {
    margin-left: calc(10px + 5vmin);
    margin-right: calc(10px + 5vmin);
    color: var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--backgr-color);
  border-radius: 10px;
  }

.navigation {
  display: flex;
  margin-left: calc(10px + 5vmin);
  margin-right: calc(10px + 5vmin);
  gap: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3vmin calc(10px + 3vmin) 1vmin;
  border: solid 3px var(--secondary-color);
  border-radius: 10px;
  color: var(--text-color);
}

.row {
  margin: 0;
}

.item {
  width: 100%;
  text-align: left;
  word-wrap: break-word;
  border-bottom: solid 1px var(--secondary-color);
}

.item > h3 {
  margin-left: calc(10px + 3vmin);
}

.item > p {
  margin-left: calc(10px + 3vmin);
}

.country-title {
  margin: 9px 0 7px 0;
  font-size: calc(10px + 1vmin);
}

.country-info{
  margin: 1px 0 1px 0;
  font-size: calc(8px + 1vmin);
}

@media (max-width: 385px) {
  .title{
    font-size: 1.6em;
  }
}

@media (max-width: 500px) {
  .navigation{
    flex-direction: column;
  }
}

@media (max-width: 800px) {
    .all-countries {
      width: auto;
      min-width:auto;
    }
}