.btn{
    text-transform: capitalize;
    color: #fff;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

.btn-primary {
    font-size: 0.9rem;
    padding: 0.5rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, var(--secondary-color), #65673a);
}


.btn-secondary {
    margin-left: auto;
    padding: .5rem 3rem;
    border-radius: 10rem;
    background-image: linear-gradient(to right, var(--secondary-color), #65673a);
    /* transform: translateY(85%); */
}

.az {
    object-fit: cover;
    margin-top: 4px;
}

.btn:hover {
    background-image: none;
    background-color: var(--secondary-color);
   
}

.btn-secondary:hover {
    background-image: none;
    background-color: var(--secondary-color);
}

@media (max-width: 500px) {
    .all-countries  {
        width: auto;
    }
    .btn {
            padding-top: 8px;
            padding-bottom: 8px;
    }
    .btn-secondary {
        margin-left: calc(10px + 3vmin);
        margin-right: calc(10px + 3vmin);
        padding: 2px;
        transform: none;
    }
}